.Bar{
   height:45px;
   font-size:22px;
   display: flex;
	justify-content: space-between;
}
.logo{
   cursor: pointer;
   
}
.User{
   height: 100%;
	font-size:20px;
	color: black;
	display: flex;
	align-items: center;
}
.logout > a{
	border: 1px solid black;
    padding: 3px 6px;
	 border-radius: 7px;
	 cursor: pointer;
}