
@import url('./notosanstc.css');
*{

  font-family: 'Noto Sans TC', 'Roboto', 'sans-serif' !important;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
  font-weight: 400;

  /* background-color: #5B69BC; */
  overflow-x: scroll;
  /* background-image: url('./images/portal_background.png'); */
  background-position: center center;
  background-size: cover;
}

#root{
  /* background-color: #5B69BC; */
  background: linear-gradient(-135deg, rgba(148,162,223,1),rgba(78,92,180,1))

}